<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    {% block  content %}
    {% endblock %}
  </body>
</html>